<a [routerLink]="['/account/signup']">
  <div id="mainPageHeader" filter-color="orange" class="page-header">
    <div class="page-header-image rellax-header" *ngIf="data>=0 && data<=15"
      style="background-image: url('assets/img/radian/home_1.jpg');"></div>
    <div *ngIf="data>15 && data<=30" class="page-header-image rellax-header"
      style="background-image: url('assets/img/radian/home_2.jpg');"></div>
    <div *ngIf="data>30 && data<=45" class="page-header-image rellax-header"
      style="background-image: url('assets/img/radian/home_3.jpg');"></div>
    <div *ngIf="data>45 && data<=60" class="page-header-image rellax-header"
      style="background-image: url('assets/img/radian/home_4.jpg');"></div>
  </div>
</a>
<a class="prev " (click)="previous()">
  <svg xmlns="http://www.w3.org/2000/svg" width="56.898" height="91" viewBox="0 0 56.898 91">
    <path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff" />
  </svg>
</a>
<a class="next" (click)="next()">
  <svg xmlns="http://www.w3.org/2000/svg" width="56.898" height="91" viewBox="0 0 56.898 91">
    <path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff" />
  </svg>
</a>
<div class="section section-about-us" style="background: #FFF">
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row gx-0 mb-3 mb-lg-0">
        <div class="col-lg-6 my-lg-5 py-lg-5">
          <div class="about-start p-5">
            <h1 class="display-5 mb-4" data-aos="fade-up">Welcome To Miraculum</h1>
            <p class="p-custom">Miraculum provides you a new platform for Artists & Consumers for a symbiotic commercial collaboration.
              We also provide space and exposure to multitude of art forms. Consumers can seek talent and art while
              artists can upload their work and seek opportunities.</p>
          </div>
        </div>
        <div class="col-lg-6" style="min-height: 400px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100" src="assets/img/radian/home_section_1.png"
              style="object-fit: cover;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-about-us" style="background: #FFF">
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center mx-auto mb-5" style="max-width: 500px;">
        <h2 class="title">Skills We Offer</h2>
        <div class="separator separator-primary"></div>
      </div>
      <div class="row gy-4 gx-3">
        <div class="col-lg-6 col-md-6 pt-5">
          <div class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0">
            <div class="service-icon p-3">
              <div><i class="fa fa-2x fa-book"></i></div>
            </div>
            <h3 class="mt-5">Literary</h3>
            <a class="btn">Stories, Poems, Scripts, Lyrics, Humor</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 pt-5">
          <div class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0">
            <div class="service-icon p-3">
              <div><i class="fa fa-2x fa-paint-brush"></i></div>
            </div>
            <h3 class="mt-5">Visual</h3>
            <a class="btn">Photography, Painting, Sketching, Animation, Conceptual</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 pt-5">
          <div class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0">
            <div class="service-icon p-3">
              <div><i class="fa fa-2x fa-sign-language"></i></div>
            </div>
            <h3 class="mt-5">Performing</h3>
            <a class="btn">Acting, Singing, Stand Up, Dance, Puppetry</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 pt-5">
          <div class="service-item d-flex flex-column align-items-center justify-content-center text-center p-5 pt-0">
            <div class="service-icon p-3">
              <div><i class="fa fa-2x fa-video-camera"></i></div>
            </div>
            <h3 class="mt-5">Technical</h3>
            <a class="btn">Camera, Sound, Graphic, Gaming, Presentations</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
    <div class="col-xs-8 col-sm-6 col-md-12 text-center">
      <a [routerLink]="['/search']" class="btn btn-primary btn-round">And Many More</a>
    </div>
  </div> -->
</div>
<div class="section section-team text-center" style="background: #F0F0F0">
  <div class="container">
    <div class="row" style="margin-top: 70px;">
      <div class="text-center mx-auto mb-5">
        <h2 class="title">What's happening around me...</h2>
        <div class="separator separator-primary"></div>
      </div>
    </div>
    <div class="row g-3" [@inOutAnimation] data-rellax-speed="0" *ngFor="let item of radianUpdates">
      <div class="col-xl-3 col-lg-6" *ngFor="let child of item">
        <div class="blog-item">
          <!-- <img src="{{child.EventImages[0].Name}}" alt="" class="img-raised" title=""
            *ngIf="child.EventImages[0].IsImage==='image'">
          <a *ngIf="child.EventImages[0].IsImage==='pdf'">
            <img src="assets/img/radian/document.png" alt="" class="img-raised">
          </a>
          <div *ngIf="child.EventImages[0].IsImage==='video'" class="video">
            <img src="{{child.EventImages[0].Image}}">
            <a></a>
          </div> -->
          <img class="img-event" src="./././././assets/img/radian/singer.jpg" />
          <div class="d-flex align-items-center">
            <div class="bg-secondary mt-n4 d-flex flex-column flex-shrink-0 justify-content-center text-center me-4"
              style="width: 70px; height: 100px;">
              <i class="fa fa-calendar-alt text-primary mb-2"></i>
              <p class="m-0 text-white">{{ child.ModifiedDate | date: "MMM dd" }}</p>
              <small class="text-white">{{ child.ModifiedDate | date: "yyyy" }}</small>
            </div>
            <a [routerLink]="['/updates']" class="bg-a h5 m-0 text-truncate me-4" href="">{{child.EventName}}</a>
          </div>
          <div class="d-flex justify-content-between border-top border-secondary p-4">
            <div class="d-flex align-items-center">
              <h6 class="title">{{child.EventSkill.name}}</h6>
            </div>
            <!-- <div class="d-flex align-items-center">
              <small class="ms-3"><i class="fa fa-eye text-secondary me-2"></i>12345</small>
              <small class="ms-3"><i class="fa fa-comment text-secondary me-2"></i>123</small>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="team custom-paragraph crousel-slider-custom">
      <div class="row" style="margin-top: 70px;" [@inOutAnimation] data-rellax-speed="0"
        *ngFor="let item of radianUpdates">
        <div class="slick col-md-3" *ngFor="let child of item">
          <a [routerLink]="['/updates']">
            <div class="team-player custom-team-player">
              <img src="{{child.EventImages[0].Name}}" alt="" class="img-raised" title=""
                *ngIf="child.EventImages[0].IsImage==='image'">
              <a *ngIf="child.EventImages[0].IsImage==='pdf'">
                <img src="assets/img/radian/document.png" alt="" class="img-raised">
              </a>
              <div *ngIf="child.EventImages[0].IsImage==='video'" class="video">
                <img src="{{child.EventImages[0].Image}}">
                <a></a>
              </div>

              <h4 class="title">
                {{child.EventName}}
              </h4>
              <p class="category text-primary">
                
              </p>
              <p class="custom-p" maxlength="100">{{child.EventSkill.name}} <br /><br />
                ​<b>- Read More -</b>
              </p>
            </div>
          </a>
        </div>
      </div>
    </div> -->
    <div class="row" style="margin-top: 80px; margin-bottom: 60px;">
      <div class="col-xs-8 col-sm-6 col-md-12 text-center">
        <a [routerLink]="['/updates']" class="btn btn-primary btn-round">Participate</a>
      </div>
    </div>
  </div>
</div>
<div class="section section-contact-us text-center" style="background:#FFF">
  <div class="container">
    <div class="row" style="margin-top: 70px;">
      <div class="text-center mx-auto mb-5">
        <h2 class="title">Don't just paint dreams, live them... <br />here at Miraculum!</h2>
        <div class="separator separator-primary"></div>
      </div>
    </div>
    <p class="p-custom" style="text-align: center !important;">
      This is a platform for every person looking to showcase their creativity, display their creative content or collaborate for opportunities.
      <br />Miraculum also open for all those individuals or businesses who are looking to use the content or hire the creative talent.
    </p>
    <div class="row" style="margin-top: 20px; margin-bottom: 60px;">
      <div class="col-xs-8 col-sm-6 col-md-12 text-center">
        <a [routerLink]="['/account/signup']" class="btn btn-primary btn-round">Join Us</a>
      </div>
    </div>
  </div>
</div>