<div class="cont" [@enterAnimation]>
  <form class="form" name="editPortfolioForm" [formGroup]="editPortfolioFormGroup">
    <div class="row card portfolio mb-search">
      <div class="col-md-12">
        <div class="row mt-top">
          <div class="col-md-12 custom-12">
            <div class="portfolio-label">Portfolio Name</div>
            <div class="input-group">
              <input type="text" class="signUp-form-control form-control" placeholder="" formControlName="PortfolioName"
                [attr.disabled]="true">
            </div>
          </div>
          <div class="col-md-12">
            <div class="portfolio-label">About Portfolio</div>
            <div class="row mt-top"
              *ngIf="editPortfolioForm.PortfolioArtifacts.errors && (editPortfolioForm.PortfolioArtifacts.dirty || editPortfolioForm.PortfolioArtifacts.touched)">
              <div class="col-md-12">
                <app-required-validation-message [fieldName]="'About Portfolio'"
                  *ngIf="editPortfolioForm.PortfolioArtifacts.errors.required">
                </app-required-validation-message>
              </div>
            </div>
            <textarea class="form-control" [placeholder]="'About Portfolio'" formControlName="PortfolioArtifacts">
            </textarea>
          </div>
        </div>
        <br />
        <div class="row mt-top"
          *ngIf="editPortfolioForm.PortfolioMedia.errors && (editPortfolioForm.PortfolioMedia.dirty || editPortfolioForm.PortfolioMedia.touched)">
          <div class="col-md-12">
            <app-required-validation-message [fieldName]="'Image'"
              *ngIf="editPortfolioForm.PortfolioMedia.errors.required"></app-required-validation-message>
          </div>
        </div>
      </div>
    </div>
    <div class="row card portfolio mb-search">
      <div class="col-md-12">
        <div class="row mt-top">
          <div class="portfolio-label">Portfolio Media Gallery</div>
          <div class="col-md-2 custom-img-col-2" *ngFor='let elem of userPortfolioMedia;let i =index' disabled="true">
            <div class="custom-photo-container">
              <img src="{{projectPath}}/{{projectFilePath}}/{{portfolioName}}/{{elem.userPortfolioAttachment}}" alt=""
                class="img-raised" title="" *ngIf="elem.IsImage==='image'">
              <a href="{{elem.userPortfolioAttachment}}" *ngIf="elem.IsImage==='pdf'" target="_blank">
                <img src="assets/img/radian/document.png" alt="" class="img-raised">
              </a>
              <div *ngIf="elem.IsImage==='video'" class="video">
                <img src="{{elem.userPortfolioAttachment}}">
                <a></a>
              </div>
              <div class="row row-allow">
                <div class="col-md-12">
                  <div class="pretty p-switch p-fill">
                    <input type="checkbox" [checked]="elem.userPortfolioIsRatingAllowed"
                      (change)="allowRating($event,i)" />
                    <div class="state p-success">
                      <label>Allow Rating</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card portfolio mb-search">
      <div class="col-md-12">
        <div class="portfolio-label">Portfolio Media</div>
        <div class="row" *ngFor="let item of addMoreImageArray;let i=index;">
          <div class="row">
            <div class="col-md-6" *ngIf="imageIndex===i">
              <!-- <select id="select{{i}}" class="select-css" (change)="selectMediaType($event.target.value)">
                        <option value="image" selected="true">Image/Document</option>
                        <option value="video">Video</option>
                      </select> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="pretty p-switch p-fill">
                    <input type="radio" name="isUser" checked [value]="true" (change)="isImageType=true;" />
                    <div class="state p-success">
                      <label>Image/Document</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pretty p-switch p-fill">
                    <input type="radio" name="isUser" [value]="false" (change)="isImageType=false;" />
                    <div class="state p-success">
                      <label>Video</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" *ngIf="isImageType && imageIndex===i">
              <input id="file{{i}}" type="file" class="form-control form-control-lg upload-custom"
                (change)="fileChangeEvent($event,i)" accept="application/pdf, image/jpeg, image/png" />
            </div>
            <div class="col-md-6" *ngIf="!isImageType && imageIndex===i">
              <div class="input-group">
                <input id="video{{i}}" type="text" class="signUp-form-control form-control"
                  placeholder="YouTube Video Link" formControlName="linkURL">
              </div>
            </div>
            <div class="col-md-3" *ngIf="!isImageType && imageIndex===i">
              <input type="button" class="btn btn-primary btn-round custom-btn" value="Add" (click)="addMoreImage(i)" />
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!(isUploaded)">
          <div class="col-md-12">
            <div style="border: 1px dashed #38b6ff; padding: 50px 70px; border-radius: 10px; text-align: center;">
              <img src="./././././././assets/img/radian/cloud_upload.png" style="width: 15%" />
            </div>
          </div>
        </div>
        <div class="row mt-top" *ngIf="isUploaded">
          <div class="col-md-2 custom-img-col-2" *ngFor='let url of urls;let i =index;'>
            <div class="custom-photo-container">
              <span class="close"><a (click)="removeMedia(i)">&times;</a></span>
              <!-- <img src="{{url.imageMovieURL}}" alt="" class="img-raised" *ngIf="url.type==='image'">
              <img src="assets/img/radian/document.png" alt="" class="img-raised" *ngIf="url.type==='document'">
              <div *ngIf="url.type==='video'">
                <div [innerHtml]="getVideo(url.imageMovieURL)" ></div>
              </div> -->
              <img src="{{url.Name}}" alt="" class="img-raised" title="" *ngIf="url.IsImage==='image'">
              <a href="{{url.Name}}" *ngIf="url.IsImage==='pdf'" target="_blank">
                <img src="assets/img/radian/document.png" alt="" class="img-raised">
              </a>
              <div *ngIf="url.IsImage==='video'" class="video">
                <img src="{{url.Image}}" class="img-raised">
                <a></a>
              </div>
            </div>
            <div class="row row-allow">
              <div class="col-md-12">
                <div class="pretty p-switch p-fill">
                  <input type="checkbox" (change)="changeUserType($event,i)" [checked]="url.AllowRating" />
                  <div class="state p-success">
                    <label>Allow Rating</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card portfolio mb-search-buttons">
      <div class="col-md-12">
        <button class="btn btn-primary btn-round btn-margin submit-btn" (click)="onSubmit()">Update</button>&nbsp;
        <a [routerLink]="['/member/portfolio_view']" class="btn btn-primary btn-round reset-btn">Cancel</a>
      </div>
    </div>
  </form>
</div>