<div class="row">
  <div class="col-md-12">
    <span class="share-text">Copy the link & Share it on your Social Media</span>
  </div>
</div>
<br /><br />
<div>
  <div class="row">
    <div class="col-md-9">
      <input class="form-control signUp-form-control inpt-box" type="text" value="{{data.link}}" disabled>
    </div>
    <div class="col-md-3">
      <button class="form-control copyBtn" [cdkCopyToClipboard]="data.link" (click)="showMessage()">Copy link</button>
    </div>
  </div>
</div>
<br />
<div mat-dialog-actions>
  <button class="form-control reset-btn" (click)="onNoClick()">Close</button>
</div>