// form.forgetPasswordForm{
//     height: 246px !important;
//     overflow-y: scroll !important;
//     background: linear-gradient(0deg, rgba(44, 44, 44, 0.6), black);
//     text-align: left !important;
//     padding: 17px;
//   }

.page-header {
    height: 61vh !important;
    max-height: 335px;
    padding: 0;
    // color: #FFFFFF;
    // position: relative;
    // background-position: center center;
    // background-size: cover;
}

.signUp-form-control{
  margin-bottom: 10px !important;
  border: 1px solid #2F3C4F !important;
  background: #ffffff !important;
  color: #181F29 !important;
}
h4 {
  font-family: "Open Sans" !important;
  font-size: 15px;
  font-weight: 700;
}
.form-group.input-lg .form-control, .input-group.input-lg .form-control{
  padding: 20px 18px;
}
.form-control:focus{
  box-shadow: none !important;
  border: 2px solid #38b6ff!important;
}
::placeholder{
  color: #181F29 !important;
  opacity: 0.7 !important;
}