<div class="wrapper" appBlockCopy>
    <div class="section" style="background-color: #F2F3F5;">
        <div class="cont">
            <div class="img default-cover">
                <div class="social-prof">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <img src="{{profileImagePath}}" alt="" class="user-profile">
                            <h3 class="title">{{currentUser.ProfileName}}</h3>
                            <p>{{ProfileSkill}}</p>
                        </div>
                        <div class="col-md-4">
                            <a [routerLink]="['/member/hunar_add']"
                                class="btn btn-primary btn-round btn-margin reset-btn">
                                <i class="pi pi-camera"></i>Select Cover Image</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-climbing-dot" [fullScreen]="true">
        <p style="color: white;font-size: 20px;"> Loading... </p>
    </ngx-spinner>
</div>