<div class="wrapper" appBlockCopy>
  <ng-template #contentProfile let-modal>
    <div class="modal-header alignment">
      <h3 class="modal-title">Upload Your Profile Image</h3>
      
      <button type="button" class="btn-close" aria-label="Close" (click)="close(modal)"></button>
      
    </div>
    <div class="modal-body">
      <!-- <div class="row mt-top"
            *ngIf="addRadianFormGroup.controls['ProfilePicture'].errors && (addRadianFormGroup.controls['ProfilePicture'].dirty || addRadianFormGroup.controls['ProfilePicture'].touched)">
            <div class="col-md-12">
              <app-required-validation-message [fieldName]="'Image'"
                *ngIf="addRadianFormGroup.controls['ProfilePicture'].errors.required">
              </app-required-validation-message>
            </div>
          </div> -->
      <div class="row mt-top alignment">
        <div class="col-md-10">
          <div class="row mt-top">
            <div class="col-md-12">
              <input type="file" class="form-control form-control-lg upload-custom" (change)="fileChangeEvent($event,contentProfile)" />
            </div>
          </div>

        </div>
      </div>
      <br/>
      <div class="row mt-top model-profile" *ngIf="isUploaded">
        <div class="col-md-8">
          <h6>Crop Image</h6>
          <div class="row">
            <div class="col-md-12">
              <image-cropper class="border-custom" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                [aspectRatio]="4 / 4" [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)">
              </image-cropper>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h6>Profile Image</h6>
          <div class="row">
            <div class="col-md-12">
              <img [src]="croppedImage" class="border-custom" />
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer alignment">
      <button class="btn btn-primary btn-round btn-margin submit-btn" (click)="updateProfileImage()">Update</button>
    </div>
  </ng-template>
  <ng-template #contentCover let-modal>
    <div class="modal-header alignment">
      <h3 class="modal-title">Upload Your Cover Image</h3>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeCover(modal)"></button>
    </div>
    <div class="modal-body custom-padding">
      <div class="row mt-top alignment">
        <div class="col-md-12"> 
          <input type="file" class="form-control form-control-lg upload-custom" (change)="CoverFileChangeEvent($event)" /> 
        </div>
      </div>
    </div>
    <div class="modal-footer alignment">
      <button class="btn btn-primary btn-round btn-margin submit-btn" (click)="updateProfileImage()">Update</button>
    </div>
  </ng-template>
  <div class="section" style="background-color: #F2F3F5;">
    <div class="cont">
      <div class="img default-cover" [ngStyle]="{background: 'url('+coverImagePath+')'}">
        <div class="edit-btn">
          <a class="btn btn-primary btn-round btn-margin reset-btn" (click)="openCoverPopup(contentCover)">
            <i class="pi pi-camera"></i>Select Cover Image</a>
        </div>
      </div>
      <div class="card social-prof">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <img src="{{profileImagePath}}" alt="" class="user-profile" (click)="openProfilePopup(contentProfile)">
            <h3 class="title">{{currentUser.ProfileName}}</h3>
            <p>{{ProfileSkill}}</p>
          </div>
        </div>
        <div class="row custom-user-layout-row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <a *ngIf="activatedUrl==='/member/event_view'" [routerLink]="['/member/event_add']"
              class="btn btn-danger btn-round">Create New
              Event</a>
            <a *ngIf="activatedUrl==='/member/portfolio_view'" [routerLink]="['/member/portfolio_add']"
              class="btn btn-danger btn-round">Create New
              Portfolio</a>
            <a *ngIf="activatedUrl==='/member/hunar_view'" [routerLink]="['/member/hunar_add']"
              class="btn btn-danger btn-round">Create New Profile</a>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-climbing-dot" [fullScreen]="true">
    <p style="color: white;font-size: 20px;"> Loading... </p>
  </ngx-spinner>
</div>