
.row.card.portfolio{
    margin-top:28px;
}
.portfolio-label{
    margin-bottom: 10px;
}
.btn-round {
    border-width: 1px;
    border-radius: 0.1875rem !important;
    padding: 13px 25px;
}
.form-group .form-control, .input-group .form-control{
    padding: 12px 18px 12px 18px;
}
.lbl-custom{
    font-weight: 700;
}
h4 {
    color: #000;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-top: 0px;
}
.custom-event{
    padding-top: 30px;
    padding-bottom: 30px;
}
.mt-top{
    margin-bottom: 18px;
}
.custom-label{
    margin-top:5px
}
.custom-btn{
    margin-top: 0;
}
h2{ 
    margin-top:0px !important;
    font-family: 'Open Sans' !important;
    font-weight: 600;
}
h4{
    font-family:'Open Sans' !important;
    font-size: 15px;
    font-weight: 700;
}
.reset-btn{
    background-color: #181F29;
    margin-right:10px;
}
.last-acc{
    font-family: 'Open Sans' !important;
}
.signUp-form-control{
    margin-bottom: 10px !important;
    border: 1px solid #2F3C4F !important;
    background: #ffffff !important;
    color: #181F29 !important;
}
.form-control:focus{
    border: 2px solid #4AA0FF !important;
    box-shadow: 0px 0px 2px 0px #4AA0FF !important;
}
::placeholder{
    color: #181F29;
    opacity: 0.7;
}
.card-register-membership label.form-check-label {
    width: 100%;
    text-align: center!important;
    padding: 18px;
    height: 350px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 500px) {
    .card-register-membership.custom-set {
      width:100%;
      margin-bottom: 10px;
    }
    .custom-label{
      margin-bottom: 35px;
    }
}
.custom-set{
    display: block;
    height: 229px;
    /* background-color: gainsboro; */
    cursor: pointer;
    position: relative;
    margin-top: 35px;
    margin-bottom: 130px;
}
.custom-set input[type="radio"]{
    position: absolute;
    top: 20px;
    left: 50%;
    display:none;
}
input[type="radio"]:checked + label{
    border: #FF3636 2px solid;
    background: #FF3636;
    color: #fff !important;
}
input[type="radio"]:checked + label h4{
    color: #fff !important;
    font-weight: 700;
}
.form-check-label.card-label {
    border: #111111 2px solid;
    border-radius:30px !important;
}
.title.text-center{
  padding:17px;
}
.signUp-form-control{
    margin-bottom: 10px !important;
    border: 0px !important;
    background: #333333 !important;
    color: #FFFFFF !important;
  }
.form-check-label.card-label h4{
    margin-top: unset;
}
.mt-top-custom{
    margin-top: 10px;
}
h4 {
    color: #FF3636;
    font-family: 'Open Sans';
    font-weight: 700;
}
.card {
    padding: 0px 25px 25px 25px;
}
.reset-btn{
    background-color: #181F29;
    margin-right:10px;
}

h5, h6{
  font-family: 'Open Sans';
}
/*social */
.card-one {
    position: relative !important;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
  }
  .card {
  margin-bottom: 0px;
  box-shadow: none !important;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  }
  
  .follower-wrapper li {
  list-style-type: none;
  color: #fff;
  display: inline-block !important;
  margin-right: 20px;
  }
  
  .social-profile {
  color: #fff;
  }
  
  .social-profile a {
  color: #fff;
  }
  
  .social-profile {
  position: relative !important;
  margin-bottom: 150px;
  }
  
  .social-profile .user-profile {
  position: absolute !important;
  bottom: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 50px;
  }
  
  .social-nav {
  position: absolute;
  bottom: 0;
  }
  
  .social-prof {
  color: #333;
  text-align: center;
  }
  
  .social-prof .wrapper {
  width: 70%;
  margin: auto;
  margin-top: 0px;
  }
  
  .social-prof img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  /*border: 10px solid #70b5e6ee;*/
  }
  
  .social-prof h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
  }
  
  .social-prof p {
  font-size: 18px;
  }
  
  .social-prof .nav-tabs {
  border: none;
  }
  
  .card .nav>li {
  position: relative;
  display: block;
  }
  
  .card .nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: 300;
  border-radius: 4px;
  }
  
  .card .nav>li>a:focus,
  .card .nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
  }
  
  .card .s-nav>li>a.active {
  text-decoration: none;
  background-color: #ff0000;
  color: #fff;
  }
  
  .text-blue {
  color: #3afe;
  }
  
  ul.friend-list {
  margin: 0;
  padding: 0;
  }
  
  ul.friend-list li {
  list-style-type: none;
  display: flex;
  align-items: center;
  }
  
  ul.friend-list li:hover {
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
  }
  
  ul.friend-list .left img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
  }
  
  ul.friend-list li {
  padding: 10px;
  }
  
  ul.friend-list .right h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  }
  
  ul.friend-list .right p {
  font-size: 11px;
  color: #6c757d;
  margin: 0;
  }
  
  .social-timeline-card .dropdown-toggle::after {
  display: none;
  }
  
  .info-card h4 {
  font-size: 15px;
  }
  
  .info-card h2 {
  font-size: 18px;
  margin-bottom: 20px;
  }
  
  .social-about .social-info {
  font-size: 16px;
  margin-bottom: 20px;
  }
  
  .social-about p {
  margin-bottom: 20px;
  }
  
  .info-card i {
  color: #3afe;
  }
  
  .card-one {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
  }
  
  .card-one .header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #3afe;
  }
  
  .card-one .header::before,
  .card-one .header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  }
  
  .card-one .header::before {
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  }
  
  .card-one .header::after {
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  }
  
  .card-one .header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
  }
  
  .card-one .header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
  }
  
  .card-one h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
  }
  
  .card-one h3::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
  }
  
  .card-one .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
  }
  
  .card-one .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3rem;
  }
  
  .card-one .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #c8c;
  }
  
  .card-one .contacts a:hover {
  color: #333;
  }
  
  .card-one .contacts a:hover .fa::before {
  color: #fff;
  }
  
  .card-one .contacts a:hover .fa::after {
  width: 100%;
  height: 100%;
  }
  
  .card-one .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  font-size: 1.3em;
  }
  
  .card-one .contacts a .fa:before {
  position: relative;
  z-index: 1;
  }
  
  .card-one .contacts a .fa::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #c8c;
  transition: width .3s, height .3s;
  }
  
  .card-one .contacts a:last-of-type .fa {
  line-height: 36px;
  }
  
  .card-one .footer {
  position: relative;
  padding: 1rem;
  background-color: #3afe;
  text-align: center;
  }
  
  .card-one .footer a {
  padding: 0 1rem;
  color: #e2e2e2;
  transition: color .4s;
  }
  
  .card-one .footer a:hover {
  color: #c8c;
  }
  
  .card-one .footer::before {
  content: '';
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom-color: #3afe;
  }
  
  #gallery li {
  width: 24%;
  float: left;
  margin: 6px;
  
  }
  
  .edit-btn{
    display: flex;
    height: 615px;
    justify-content: right;
    align-items: center;
    padding-right: 20px
  }
  
  h3.title{
  font-family: 'Open Sans' !important;
  font-weight: 600;
  }
  
  .pi-camera{
  margin-right: 10px;
  font-size: 13px;
  }
  
  .reset-btn{
  background-color: #181f29;
  margin-right: 10px;
  font-size: 14px;
  }
  
  .default-cover{
    background-image: url('../../../../../../../assets/img/default-cover-picture.png'); 
    height:350px; background-size:cover; 
    position: relative; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
  }
  
  .form-group .form-control, .input-group .form-control {
    padding: 20px 18px;
  }
  
  .custom-12{
    margin-bottom: 25px;
  }
  
  .custom-img-col-2{
    margin-right: 35px;
  }
  
  .submit-btn{
    font-size: 14px;
  }
  
  .mb-search-buttons{
    padding: 15px 20px;
  }
  
  
  .pretty.p-switch .state label {
    text-indent: 3em;
    font-size: 14px;
    font-weight: 600;
  }
  
  .row-allow{
    text-align: center;
  }
  
  .upload-custom{
    margin-bottom: 10px!important;
    border: 1px solid #2F3C4F!important;
    background: #ffffff!important;
    color: #181f29!important;
    border-radius: 5px;
    font-size: 14px;
    padding: 18px 20px;
  }

  .submit-btn{
    font-size: 14px;
  }
  