.privacyPolicy{
  padding: 50px 40px;
  margin-top: 50px;
}
@media only screen and (max-width: 500px) {
  .page-header-image.rellax-header {
    background-position: unset !important;
  }
}
.p-custom-pp{
  font-size: 14px
}
.h5-custom{
  font-weight: 800;
  font-family: "Open Sans" !important;
}
h2.title {
  font-family: "Open Sans" !important;
  font-weight: 600;
}
.card{
  box-shadow:0 0 3px #0000004d !important;
} 