<div class="cont">
  <div class="card social-prof">
    <div class="card-body">
      <div class="row ">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <ul class=" nav nav-tabs justify-content-center s-nav">
            <li><a [ngClass]="{'active':_istab===1}" (click)="shiftTab(1)">About</a></li>
            <li><a [ngClass]="{'active':_istab===2}" (click)="shiftTab(2)">Education</a></li>
            <li><a [ngClass]="{'active':_istab===3}" (click)="shiftTab(3)">Certification & Licenses</a></li>
            <li><a [ngClass]="{'active':_istab===4}" (click)="shiftTab(4)">Experiences</a></li>
            <li><a [ngClass]="{'active':_istab===5}" (click)="shiftTab(5)">Connections</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===1">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Profile Name</h4>
            <p>{{selectedUser.ProfileName}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>About Profile</h4>
            <p>{{selectedUser.ProfileDescription}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Skills</h4>
            <div class="row">
              <div class="col-md-4 custom-col-skills" *ngFor="let item of selectedUser.ProfileExpertise">
                <i class="{{item.iconClass}}"></i>
                <br />
                <h5 class="h5-custom">{{item?.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Linked Portfolios</h4>
            <p-carousel [value]="selectedUser.LinkedPortfolio" styleClass="custom-carousel" [numVisible]="2"
              [numScroll]="2" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions"> 
              <!-- <ng-template pTemplate="header">
                  <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
              </ng-template> -->
              <ng-template let-product pTemplate="item">
                <div class="product-item">
                  <div class="product-item-content">
                    <div class="p-mb-3">
                    </div>
                    <div>
                      <h4 class="p-mb-1">{{product?.name}}</h4>
                      <!-- <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6> -->
                      <!-- <span
                        [class]="'product-badge status-'+product.ProfileName.toLowerCase()">{{product.ProfileDescription}}</span>
                      <div class="car-buttons p-mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                                  <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                                  <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Other Profiles</h4>
            <p-carousel [value]="userProfiles" styleClass="custom-carousel" [numVisible]="2" [numScroll]="2"
              [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
              <!-- <ng-template pTemplate="header">
                  <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
              </ng-template> -->
              <ng-template let-product pTemplate="item">
                <div class="product-item">
                  <div class="product-item-content">
                    <div class="p-mb-3">
                    </div>
                    <div>
                      <a (click)="selectProfile(product)">
                        <h4 class="p-mb-1">{{product.ProfileName}}</h4>
                      </a>

                      <!-- <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6> -->
                      <!-- <span
                        [class]="'product-badge status-'+product.ProfileName.toLowerCase()">{{product.ProfileDescription}}</span>-->
                      <div class="car-buttons p-mt-5">
                        <!-- <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                                  <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                                  <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===2">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Profile Name</h4>
            <p>{{selectedUser.ProfileName}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>About Profile</h4>
            <p>{{selectedUser.ProfileDescription}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Skills</h4>
            <div class="row">
              <div class="col-md-4 custom-col-skills" *ngFor="let item of selectedUser.ProfileExpertise">
                <i class="{{item.iconClass}}"></i>
                <br />
                <h5 class="h5-custom">{{item?.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio" *ngIf="selectedUser.EducationDetails!==null">
            <div class="row" *ngFor="let item of selectedUser.EducationDetails;let i = index">
              <div class="col-md-5">
                <div class="portfolio-label">Education Name</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" [value]="item.EducationName" [disabled]="true"
                        class="signUp-form-control form-control">
                      <!-- {{item.EducationName}} -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="portfolio-label">Start Year</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" autocomplete="off" #dp="bsDatepicker"
                        [disabled]="true" [(ngModel)]="item.StartsOn" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY'
                      }" bsDatepicker>
                      <!-- {{item.StartsOn}} -->
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-3">
                <div class="portfolio-label">End Year</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" autocomplete="off" #dp="bsDatepicker"
                        [disabled]="true" [(ngModel)]="item.EndsOn" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY'
                      }" bsDatepicker>
                      <!-- {{item.EndsOn}} -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row card portfolio" *ngIf="selectedUser.EducationDetails===null">
            <h2 class="title" style="text-align: center;">No Educations</h2>
            <div class="separator separator-primary"></div>
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <img src="../../../../../../../assets/img/radian/no-info.gif" />
              </div>
              <div class="col-md-4">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===3">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Profile Name</h4>
            <p>{{selectedUser.ProfileName}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>About Profile</h4>
            <p>{{selectedUser.ProfileDescription}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Skills</h4>
            <div class="row">
              <div class="col-md-4 custom-col-skills" *ngFor="let item of selectedUser.ProfileExpertise">
                <i class="{{item.iconClass}}"></i>
                <br />
                <h5 class="h5-custom">{{item?.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio" *ngIf="selectedUser.CertificationDetails!==null">
            <div class="row" *ngFor="let item of selectedUser.CertificationDetails;let i = index">
              <div class="col-md-5">
                <div class="portfolio-label">Certification Name</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" [value]="item.CertificationName" [disabled]="true"
                        class="signUp-form-control form-control">
                      <!-- {{item.CertificateName}} -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="portfolio-label">Certificate Date</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" autocomplete="off" #dp="bsDatepicker"
                        [disabled]="true" [(ngModel)]="item.CertifiedDate" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY/MM/DD'
                      }" bsDatepicker>
                      <!-- {{item.CertifiedDate}} -->
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-3">
                <div class="portfolio-label">License Number</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" [value]="item.CertificationLicenseNumber" [disabled]="true"
                        class="signUp-form-control form-control">
                      <!-- {{item.CertificationLicenseNumber}} -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row card portfolio" *ngIf="selectedUser.CertificationDetails===null">
            <h2 class="title" style="text-align: center;">No Certification</h2>
            <div class="separator separator-primary"></div>
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <img src="../../../../../../../assets/img/radian/no-info.gif" />
              </div>
              <div class="col-md-4">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===4">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Profile Name</h4>
            <p>{{selectedUser.ProfileName}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>About Profile</h4>
            <p>{{selectedUser.ProfileDescription}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Skills</h4>
            <div class="row">
              <div class="col-md-4 custom-col-skills" *ngFor="let item of selectedUser.ProfileExpertise">
                <i class="{{item.iconClass}}"></i>
                <br />
                <h5 class="h5-custom">{{item?.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio" *ngIf="selectedUser.ExperienceDetails!==null">
            <div class="row" *ngFor="let item of selectedUser.ExperienceDetails;let i = index">
              <div class="col-md-5">
                <div class="portfolio-label">Experience Name</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" [value]="item.ExperienceName" [disabled]="true"
                        class="signUp-form-control form-control">
                      <!-- {{item.ExperienceName}} -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="portfolio-label">Start Year</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" autocomplete="off" #dp="bsDatepicker"
                        [disabled]="true" [(ngModel)]="item.StartDate" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY/MM/DD'
                      }" bsDatepicker>
                      <!-- {{item.StartDate}} -->
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-3">
                <div class="portfolio-label">End Year</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" autocomplete="off" #dp="bsDatepicker"
                        [disabled]="true" [(ngModel)]="item.ToDate" [bsConfig]="{
                      isAnimated: true,
                      minMode: 'year',
                      dateInputFormat: 'YYYY'
                    }" bsDatepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row card portfolio" *ngIf="selectedUser.ExperienceDetails===null">
            <h2 class="title" style="text-align: center;">No Experience</h2>
            <div class="separator separator-primary"></div>
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <img src="../../../../../../../assets/img/radian/no-info.gif" />
              </div>
              <div class="col-md-4">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===5">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>New Connection Requests</h4><br/>
            <div class="row" *ngIf="ConnectionsReceiver!==null">
              <div class="col-md-3" *ngFor="let item of ConnectionsReceiver">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">{{item.ProfileName}}</h4>
                  </div>
                  <div class="accept-reject" *ngIf="item.ConnectionStatus===0">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom"
                      (click)="AcceptRequest(item)">Accept</button><br />
                  </div>
                  <div class="accept-reject" *ngIf="item.ConnectionStatus===2">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Rejected</button><br />
                  </div>
                  <div class="accept-reject" *ngIf="item.ConnectionStatus===2">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom"
                      (click)="DeleteRequest(item)">Delete</button>
                  </div>
                  <div class="accept-reject" *ngIf="item.ConnectionStatus===0">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom"
                      (click)="RejectRequest(item)">Rejected</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="ConnectionsReceiver===null">
              <h6>No Connection Requests</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Sent Connections Request</h4><br/>
            <div class="row" *ngIf="ConnectionsSender!==null">
              <div class="col-md-3" *ngFor="let item of ConnectionsSender">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">{{item.ProfileName}}</h4>
                  </div>
                  <div class="accept-reject" *ngIf="item.ConnectionStatus===0">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Request
                      Sent</button><br />
                  </div>
                  <div class="accept-reject" *ngIf="item.ConnectionStatus===0">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom"
                      (click)="DeleteRequest(item)">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="ConnectionsSender===null">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-4">
                    <img src="./././././././assets/img/radian/no-info.gif" />
                  </div>
                  <div class="col-md-4">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Connections</h4><br/>
            <div class="row" *ngIf="Connections!==null">
              <div class="col-md-3" *ngFor="let item of Connections">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">{{item.ProfileName}}</h4>
                  </div>
                  <div class="accept-reject" *ngIf="item.ConnectionStatus===1">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Connected</button><br />
                  </div>
                  <div class="accept-reject" *ngIf="item.ConnectionStatus===1">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom"
                      (click)="DeleteRequest(item)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="Connections===null">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-4">
                    <img src="./././././././assets/img/radian/no-info.gif" />
                  </div>
                  <div class="col-md-4">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row card portfolio">
        <div class="col-md-12 flt-left">
          <button class="btn btn-primary btn-round btn-margin submit-btn" (click)="openEdit(selectedUser.id)">Edit
            Profile</button>&nbsp;

          <button mat-button class="btn btn-primary btn-round btn-margin reset-btn">Delete Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>