<div class="container">
  <div class="img default-cover">
    <div class="edit-btn">
      <a [routerLink]="['/member/hunar_add']" class="btn btn-primary btn-round btn-margin reset-btn">
        <i class="pi pi-camera"></i>Select Cover Image</a>
    </div>
  </div>
  <div class="card social-prof">
    <div class="card-body">
      <div class="wrapper">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
        <h3 class="title">{{selectedUser.ProfileName}}</h3>
        <p>{{selectedUser?.ProfileSkill.name}}</p>
      </div>
      <div class="row ">
        <div class="wrapper">
          <a [routerLink]="['/member/hunar_add']" class="btn btn-danger btn-round">Create New Profile</a>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12">
          <ul class=" nav nav-tabs justify-content-center s-nav">
            <li><a [ngClass]="{'active':_istab===1}" (click)="_istab=1">About</a></li>
            <li><a [ngClass]="{'active':_istab===2}" (click)="_istab=2">Education</a></li>
            <li><a [ngClass]="{'active':_istab===3}" (click)="_istab=3">Certification & Licenses</a></li>
            <li><a [ngClass]="{'active':_istab===4}" (click)="_istab=4">Experiences</a></li>
            <li><a [ngClass]="{'active':_istab===5}" (click)="_istab=5">Connections</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===1">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>About Profile</h4>
            <p>{{selectedUser.ProfileDescription}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Skills</h4>
            <div class="row">
              <div class="col-md-4 custom-col-skills" *ngFor="let item of selectedUser.ProfileExpertise">
                <i class="{{item.iconClass}}"></i>
                <br />
                <h5 class="h5-custom">{{item.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Linked Portfolios</h4>
            <p-carousel [value]="selectedUser.LinkedPortfolio" styleClass="custom-carousel" [numVisible]="2"
              [numScroll]="2" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
              <!-- <ng-template pTemplate="header">
                  <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
              </ng-template> -->
              <ng-template let-product pTemplate="item">
                <div class="product-item">
                  <div class="product-item-content">
                    <div class="p-mb-3">
                    </div>
                    <div>
                      <h4 class="p-mb-1">{{product.name}}</h4>
                      <!-- <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6> -->
                      <!-- <span
                        [class]="'product-badge status-'+product.ProfileName.toLowerCase()">{{product.ProfileDescription}}</span>
                      <div class="car-buttons p-mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                                  <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                                  <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Other Profiles</h4>
            <p-carousel [value]="userProfiles" styleClass="custom-carousel" [numVisible]="2" [numScroll]="2"
              [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
              <!-- <ng-template pTemplate="header">
                  <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
              </ng-template> -->
              <ng-template let-product pTemplate="item">
                <div class="product-item">
                  <div class="product-item-content">
                    <div class="p-mb-3">
                    </div>
                    <div>
                      <a (click)="selectProfile(product)">
                        <h4 class="p-mb-1">{{product.ProfileName}}</h4>
                      </a>

                      <!-- <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6> -->
                      <span
                        [class]="'product-badge status-'+product.ProfileName.toLowerCase()">{{product.ProfileDescription}}</span>
                      <div class="car-buttons p-mt-5">
                        <!-- <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                                  <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                                  <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===2">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>About Profile</h4>
            <p>{{selectedUser.ProfileDescription}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Skills</h4>
            <div class="row">
              <div class="col-md-4 custom-col-skills">
                <i class="fa fa-camera-retro"></i>
                <br />
                <h5 class="h5-custom">{{selectedUser?.ProfileSkill.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio" *ngIf="selectedUser.EducationDetails.length>0">
            <h4>Educations</h4>
            <div class="row" *ngFor="let item of selectedUser.EducationDetails;let i = index">
              <div class="col-md-3">
                <div class="portfolio-label">Education Name</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" [value]="item.EducationName" [disabled]="true" class="signUp-form-control form-control">
                      <!-- {{item.EducationName}} -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="portfolio-label">From</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" autocomplete="off" #dp="bsDatepicker"
                        [(ngModel)]="item.StartsOn" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY',
                        disabled:true
                      }" bsDatepicker>
                      <!-- {{item.StartsOn}} -->
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-2">
                <div class="portfolio-label">To</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" autocomplete="off" #dp="bsDatepicker"
                        [(ngModel)]="item.EndsOn" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY',
                        disabled:true
                      }" bsDatepicker>
                      <!-- {{item.EndsOn}} -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row card portfolio" *ngIf="selectedUser.EducationDetails.length===0">
            <h4>Educations</h4>
            <div class="col-md-12" >
              <h4>No Records</h4>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===3">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>About Profile</h4>
            <p>{{selectedUser.ProfileDescription}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Skills</h4>
            <div class="row">
              <div class="col-md-4 custom-col-skills">
                <i class="fa fa-camera-retro"></i>
                <br />
                <h5 class="h5-custom">{{selectedUser?.ProfileSkill.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio" *ngIf="selectedUser.CertificationDetails.length>0">
            <h4>Certification Details</h4>
            <div class="row" *ngFor="let item of selectedUser.CertificationDetails;let i = index">
              <div class="col-md-3">
                <div class="portfolio-label">Certification Name</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" [value]="item.CertifiedName" [disabled]="true" class="signUp-form-control form-control">
                      <!-- {{item.CertificateName}} -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="portfolio-label">Certificate Date</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" autocomplete="off" #dp="bsDatepicker"
                        [(ngModel)]="item.CertifiedDate" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY/MM/DD',
                        disabled:true
                      }" bsDatepicker>
                      <!-- {{item.CertifiedDate}} -->
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-2">
                <div class="portfolio-label">License Number</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" [value]="item.CertificationLicenseNumber" [disabled]="true" class="signUp-form-control form-control">
                      <!-- {{item.CertificationLicenseNumber}} -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row card portfolio" *ngIf="selectedUser.CertificationDetails.length===0">
            <h4>Certification Details</h4>
            <div class="col-md-12" >
              <h4>No Records</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===4">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>About Profile</h4>
            <p>{{selectedUser.ProfileDescription}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Skills</h4>
            <div class="row">
              <div class="col-md-4 custom-col-skills">
                <i class="fa fa-camera-retro"></i>
                <br />
                <h5 class="h5-custom">{{selectedUser?.ProfileSkill.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio" *ngIf="selectedUser.ExperienceDetails.length>0">
            <h4>Experience Details</h4>
            <div class="row" *ngFor="let item of selectedUser.ExperienceDetails;let i = index">
              <div class="col-md-3">
                <div class="portfolio-label">Experience Name</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" [value]="item.ExperienceName" [disabled]="true" class="signUp-form-control form-control">
                      <!-- {{item.ExperienceName}} -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="portfolio-label">Starts On</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" autocomplete="off" #dp="bsDatepicker"
                        [(ngModel)]="item.StartDate" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY/MM/DD',
                        disabled:true
                      }" bsDatepicker>
                      <!-- {{item.StartDate}} -->
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-2">
                <div class="portfolio-label">Ends On</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" autocomplete="off" #dp="bsDatepicker"
                      [(ngModel)]="item.ToDate" [bsConfig]="{
                      isAnimated: true,
                      minMode: 'year',
                      dateInputFormat: 'YYYY',
                      disabled:true
                    }" bsDatepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row card portfolio" *ngIf="selectedUser.ExperienceDetails.length===0">
            <h4>Experience Details</h4>
            <div class="col-md-12" >
              <h4>No Records</h4>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  
  </div>
  <div class="row" [@enterAnimation] *ngIf="_istab===5">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>New Connection Requests</h4>
            <div class="row">
              <div class="col-md-3">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">Vinay Pardeshi</h4>
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Accept</button><br />
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom">Delete</button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">Vinay Pardeshi</h4>
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Accept</button><br />
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row card portfolio">
            <h4>Connections</h4>
            <div class="row">
              <div class="col-md-3">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">Vinay Pardeshi</h4>
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Connected</button><br />
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom">Remove</button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">Vinay Pardeshi</h4>
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Connected</button><br />
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom">Remove</button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">Vinay Pardeshi</h4>
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Connected</button><br />
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom">Remove</button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="conn-req-card">
                  <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                  </div>
                  <div class="user-details">
                    <h4 class="userName">Vinay Pardeshi</h4>
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin btn-custom">Connected</button><br />
                  </div>
                  <div class="accept-reject">
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn-custom">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row card portfolio">
        <div class="col-md-12 flt-left">
          <button class="btn btn-primary btn-round btn-margin" (click)="openEdit(selectedUser.id)">Edit
            Profile</button>&nbsp;
          <button mat-button class="btn btn-primary btn-round btn-margin reset-btn">Delete Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>