
<div class="container-fluid">
  <!-- <div class="button-container">
        <a href="#button" class="btn btn-primary btn-round btn-lg">My Profiles</a>
    </div> -->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <!-- <div class="row card portfolio">
        <div class="col-md-12 custom-col-12">
          <div class="row">
            <div class="col-md-12" style="margin-top: 13px;">
              <a [routerLink]="['/member/hunar_add']" class="btn btn-danger btn-round profile-label">Create New
                Profile</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-vertical-stepper #stepper>
                <mat-step *ngFor="let item of userProfiles;let i = index" [completed]="false">
                  <ng-template class="row" matStepLabel>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="team-player img-custom">
                          <br/>
                          <img class="rounded img-fluid img-raised" *ngIf="item.ProfilePicture!==null"
                            src="{{projectPath}}/{{projectFilePath}}/{{item.ProfileName}}/ProfileImages/{{item.ProfilePicture}}">
                          <img class="rounded img-fluid img-raised" *ngIf="item?.ProfilePicture===null" src="./assets/img/default-avatar.png" alt="">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <h4>{{item.ProfileName}}</h4>
                        <p class='last-acc'>Last Accessed: {{item.LastUpdatedDate|date:'MM/dd/yyyy hh:mm:ss'}}</p>
                      </div>
                    </div>
                  </ng-template><br /><br />
                  <div class="row">
                    <div class="col-md-12">
                      <div class="portfolio-label">About Profile</div>
                      <textarea class="txtarea-custom form-control"
                        [(ngModel)]="item.ProfileDescription"  disabled="true">
                      </textarea>
                    </div>
                  </div><br /><br />
                  <div class="row">
                    <div class="col-md-2">
                      <div class="portfolio-label">Skills</div>
                    </div>
                    <div class="col-md-10">
                      <select class="select-css" disabled="true">
                        <option selected="true" *ngIf="item.ProfileSkill!==null">{{item.ProfileSkill.name}}</option>
                        <option selected="true"></option>
                      </select>
                      <br />
                      <div class="pretty p-switch p-fill" *ngFor="let elem of item.ProfileExpertise;let i=index;">
                        <input type="radio" disabled="true" checked value="true" />
                        <div class="state p-success  p-fill">
                          <label>{{elem.name}}</label>
                        </div>
                      </div>
                    </div>
                  </div><br /><hr/><br />
                  <div class="row">
                    <div class="col-md-2">
                      <div class="portfolio-label">Linked Portfolios</div>
                    </div>
                    <div class="col-md-10" style="margin-top: 5px;">
                      <div class="pretty p-switch p-fill" *ngFor="let elem of item.LinkedPortfolio;let i=index;">
                        <input type="radio" disabled="true" checked value="true" />
                        <div class="state p-success  p-fill">
                          <label>{{elem.name}}</label>
                        </div>
                      </div>
                    </div>
                  </div><br />
                  <div class="row mt-top">
                    <div class="col-md-12 flt-right">
                      <button class="btn btn-primary btn-round btn-margin" (click)="openEdit(item.id)">Edit</button>&nbsp;
                      <button mat-button class="btn btn-primary btn-round btn-margin reset-btn"
                        (click)="DeleteProfile(item)" [disabled]='i===0'>Delete</button>
                    </div>
                  </div>  
                </mat-step>
              </mat-vertical-stepper>

              


            </div>
          </div>
        </div>
      </div> -->
      <p-carousel [value]="userProfiles" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" 
      [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <!-- <ng-template pTemplate="header">
            <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
        </ng-template> -->
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="p-mb-3">
                    </div>
                    <div>
                        <h4 class="p-mb-1">{{product.ProfileName}}</h4>
                        <!-- <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6> -->
                        <span [class]="'product-badge status-'+product.ProfileName.toLowerCase()">{{product.ProfileDescription}}</span>
                        <div class="car-buttons p-mt-5">
                            <!-- <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    </div>
    <div class="col-md-1">
    </div>
    
  </div>
</div>
