<div class="row">
    <div class="col-md-6">
        <ng-template #t let-fill="fill">
            <i class="bi-heart-fill">
                <i *ngIf="fill > 0" class="bi-heart-fill filled" [style.width.%]="fill"></i>
            </i>
        </ng-template>
        <ngb-rating rate="4" [starTemplate]="t" [readonly]="false" [max]="5"></ngb-rating>
    </div>
</div>
<div class="row">
    <h6>Write your review</h6>
    <div class="col-md-6">
        <textarea disabled="true"></textarea>
    </div>
</div>