<div class="section section-team" style="background-color: #F2F3F5;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <form name="registerForm" class="registerForm" [formGroup]="loginFormGroup">
                    <div class="title">
                        <h4>Login</h4>
                    </div>
                    <div class="content">
                        <div class="row"
                            *ngIf="loginForm.email.errors && (loginForm.email.dirty || loginForm.email.touched)">
                            <div class="col-md-12">
                                <app-required-validation-message [fieldName]="'Email'"
                                    *ngIf="loginForm.email.errors.required"></app-required-validation-message>
                                <app-format-validation-message [fieldName]="'Email'"
                                    *ngIf="loginForm.email.errors?.pattern"></app-format-validation-message>
                            </div>
                        </div>
                        <div class="input-group input-lg"
                            [ngClass]="{'input-group-focus':focusEmail===true}">
                            <input type="text" class="signUp-form-control form-control" placeholder="Email..." formControlName="email">
                        </div>
                        <div class="row"
                            *ngIf="loginForm.password.errors && (loginForm.password.dirty || loginForm.password.touched)">
                            <div class="col-md-12">
                                <app-required-validation-message [fieldName]="'Password'"
                                    *ngIf="loginForm.password.errors.required"></app-required-validation-message>
                                <app-format-validation-message [fieldName]="'Password'"
                                    *ngIf="loginForm.password.errors?.pattern"></app-format-validation-message>
                            </div>
                        </div>
                        <div class="input-group input-lg"
                            [ngClass]="{'input-group-focus':focusPassword===true}">
                            
                            <input type="password" placeholder="Password..." class="signUp-form-control form-control"
                                 formControlName="password" />
                        </div>
                        
                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-danger btn-round" 
                        (click)="onSubmit()">Login</button>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <h6>
                                <a (click)="openForgotPassword()" class="link">Forgot Password?</a>
                            </h6>
                        </div>
                        <div class="pull-left">
                            <h6>
                                <a (click)="openSignup()" class="link">Create Account</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>