<div class="section" style="background-color: #F2F3F5;">
    <div class="container">
        <div class="img default-cover">
            <!-- <div class="edit-btn">
          <a class="btn btn-primary btn-round btn-margin reset-btn">
            <i class="pi pi-camera"></i>Select Cover Image</a>
        </div> -->
        </div>
        <div class="card social-prof">
            <div class="card-body">
                <div class="wrapper">
                    <img src="{{memberDetail.ProfilePicture}}" alt="" class="user-profile">
                    <!-- <h3 class="title">{{currentUser.ProfileName}}</h3> -->
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <p class="para-custom"
                                *ngIf="routerData.UserId!==0 && memberDetail.isCurrentLoggedInUserConnected!==0">
                                <button mat-button class="btn btn-primary btn-round btn-margin connect-btn-custom"
                                    (click)="sendConnectionRequest()"
                                    *ngIf="memberDetail.isCurrentLoggedInUserConnected===null"><i
                                        class="fas fa-user-tie icon-like-share"></i>Connect</button>
                                <button mat-button class="btn btn-primary btn-round btn-margin connected-btn-custom"
                                    *ngIf="memberDetail.isCurrentLoggedInUserConnected===1"><i
                                        class="fas fa-user-tie icon-like-share"></i>Connected</button>
                            </p>
                            <p class="para-custom"
                                *ngIf="routerData.UserId!==0 && memberDetail.isCurrentLoggedInUserConnected===0">
                                <button mat-button *ngIf="memberDetail.isCurrentLoggedInReceiver===null"
                                    class="btn btn-primary btn-round btn-margin request-sent-btn-custom">Request
                                    Sent</button>
                                <button mat-button *ngIf="memberDetail.isCurrentLoggedInReceiver===0"
                                    class="btn btn-primary btn-round btn-margin connected-btn-custom"
                                    (click)="AcceptRequest(memberDetail)">Accept
                                </button>
                                <button mat-button *ngIf="memberDetail.isCurrentLoggedInReceiver===0"
                                    class="btn btn-primary btn-round btn-margin reset-btn-custom"
                                    (click)="RejectRequest(memberDetail)">Reject
                                </button>
                            </p>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>

                    <!-- <p class="para-custom">
                        <button mat-button
                            class="btn btn-primary btn-round btn-margin like-share-button connected-custom"><i
                                class="fas fa-user-tie icon-like-share"></i>Connected</button>
                    </p> -->
                    <h3 class="title">{{memberDetail.ProfileName}}</h3>
                </div>
                <div class="row ">
                    <div class="col-lg-12">
                        <ul class=" nav nav-tabs justify-content-center s-nav">
                            <li><a [ngClass]="{'active':_istab===1}" (click)="_istab=1">About</a></li>
                            <li><a [ngClass]="{'active':_istab===2}" (click)="_istab=2">Education</a></li>
                            <li><a [ngClass]="{'active':_istab===3}" (click)="_istab=3">Certification & Licenses</a>
                            </li>
                            <li><a [ngClass]="{'active':_istab===4}" (click)="_istab=4">Experiences</a></li>
                            <li><a [ngClass]="{'active':_istab===5}" (click)="_istab=5"
                                    *ngIf="routerData.UserId!==0">Connections</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" [@enterAnimation] *ngIf="_istab===1">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>About Profile</h4>
                            <p>{{memberDetail.ProfileDescription}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>Skills</h4>
                            <div class="row">
                                <div class="col-md-4 custom-col-skills"
                                    *ngFor="let item of memberDetail.ProfileExpertise">
                                    <i class="{{item.iconClass}}"></i>
                                    <br />
                                    <h5 class="h5-custom">{{item.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>Linked Portfolios</h4>
                            <p-carousel [value]="memberDetail.ProfilePortfolio" styleClass="custom-carousel"
                                [numVisible]="2" [numScroll]="2" [circular]="true" [autoplayInterval]="3000"
                                [responsiveOptions]="responsiveOptions">
                                <ng-template let-product pTemplate="item">
                                    <div class="product-item">
                                        <div class="product-item-content">
                                            <div class="p-mb-3">
                                            </div>
                                            <div>
                                                <a (click)="redirectToPortfolio(product)">
                                                    <h4 class="p-mb-1">{{product.name}}</h4>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>Events</h4>
                            <p-carousel [value]="memberEvents" styleClass="custom-carousel" [numVisible]="2"
                                [numScroll]="2" [circular]="true" [autoplayInterval]="3000"
                                [responsiveOptions]="responsiveOptions">
                                <ng-template let-product pTemplate="item">
                                    <div class="product-item">
                                        <div class="product-item-content">
                                            <div class="p-mb-3">
                                            </div>
                                            <div>
                                                <a>
                                                    <h4 class="p-mb-1">{{product.EventName}}</h4>
                                                </a>
                                                <span
                                                    [class]="'product-badge status-'+product.EventName.toLowerCase()">{{product.EventDescription}}</span>
                                                <div class="car-buttons p-mt-5">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>Other Profiles</h4>
                            <p-carousel [value]="memberProfiles" styleClass="custom-carousel" [numVisible]="2"
                                [numScroll]="2" [circular]="true" [autoplayInterval]="3000"
                                [responsiveOptions]="responsiveOptions">
                                <ng-template let-product pTemplate="item">
                                    <div class="product-item">
                                        <div class="product-item-content">
                                            <div class="p-mb-3">
                                            </div>
                                            <div>
                                                <a>
                                                    <h4 class="p-mb-1">{{product.ProfileName}}</h4>
                                                </a>
                                                <span
                                                    [class]="'product-badge status-'+product.ProfileName.toLowerCase()">{{product.ProfileDescription}}</span>
                                                <div class="car-buttons p-mt-5">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" [@enterAnimation] *ngIf="_istab===2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>About Profile</h4>
                            <p>{{memberDetail.ProfileDescription}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>Skills</h4>
                            <div class="row">
                                <div class="col-md-4 custom-col-skills"
                                    *ngFor="let item of memberDetail.ProfileExpertise">
                                    <i class="{{item.iconClass}}"></i>
                                    <br />
                                    <h5 class="h5-custom">{{item.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio" *ngIf="memberDetail.EducationDetails.length>0">
                            <h4>Educations</h4>
                            <div class="row" *ngFor="let item of memberDetail.EducationDetails;let i = index">
                                <div class="col-md-5">
                                    <div class="portfolio-label">Education Name</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" [value]="item.EducationName" [disabled]="true"
                                                    class="signUp-form-control form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="portfolio-label">Start Year</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control signUp-form-control"
                                                    autocomplete="off" #dp="bsDatepicker" [disabled]="true"
                                                    [(ngModel)]="item.StartsOn" [bsConfig]="{
                          isAnimated: true,
                          minMode: 'year',
                          dateInputFormat: 'YYYY'
                        }" bsDatepicker>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="portfolio-label">End Year</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control signUp-form-control"
                                                    autocomplete="off" #dp="bsDatepicker" [disabled]="true"
                                                    [(ngModel)]="item.EndsOn" [bsConfig]="{
                          isAnimated: true,
                          minMode: 'year',
                          dateInputFormat: 'YYYY'
                        }" bsDatepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card portfolio" *ngIf="memberDetail.EducationDetails.length===0">
                            <h4>Educations</h4>
                            <div class="col-md-12">
                                <h4>No Records</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" [@enterAnimation] *ngIf="_istab===3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>About Profile</h4>
                            <p>{{memberDetail.ProfileDescription}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>Skills</h4>
                            <div class="row">
                                <div class="col-md-4 custom-col-skills"
                                    *ngFor="let item of memberDetail.ProfileExpertise">
                                    <i class="{{item.iconClass}}"></i>
                                    <br />
                                    <h5 class="h5-custom">{{item.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio" *ngIf="memberDetail.CertificationDetails.length>0">
                            <h4>Certification Details</h4>
                            <div class="row" *ngFor="let item of memberDetail.CertificationDetails;let i = index">
                                <div class="col-md-3">
                                    <div class="portfolio-label">Certification Name</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" [value]="item.CertificationName" [disabled]="true"
                                                    class="signUp-form-control form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="portfolio-label">Certificate Date</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control signUp-form-control"
                                                    autocomplete="off" #dp="bsDatepicker" [disabled]="true"
                                                    [(ngModel)]="item.CertifiedDate" [bsConfig]="{
                          isAnimated: true,
                          minMode: 'year',
                          dateInputFormat: 'YYYY/MM/DD'
                        }" bsDatepicker>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="portfolio-label">License Number</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" [value]="item.CertificationLicenseNumber"
                                                    [disabled]="true" class="signUp-form-control form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card portfolio" *ngIf="memberDetail.CertificationDetails.length===0">
                            <h4>Certification Details</h4>
                            <div class="col-md-12">
                                <h4>No Records</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" [@enterAnimation] *ngIf="_istab===4">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>About Profile</h4>
                            <p>{{memberDetail.ProfileDescription}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>Skills</h4>
                            <div class="row">
                                <div class="col-md-4 custom-col-skills"
                                    *ngFor="let item of memberDetail.ProfileExpertise">
                                    <i class="{{item.iconClass}}"></i>
                                    <br />
                                    <h5 class="h5-custom">{{item.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio" *ngIf="memberDetail.ExperienceDetails.length>0">
                            <h4>Experience Details</h4>
                            <div class="row" *ngFor="let item of memberDetail.ExperienceDetails;let i = index">
                                <div class="col-md-3">
                                    <div class="portfolio-label">Experience Name</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" [value]="item.ExperienceName" [disabled]="true"
                                                    class="signUp-form-control form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="portfolio-label">Start Year</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="signUp-form-control form-control"
                                                    autocomplete="off" #dp="bsDatepicker" [disabled]="true"
                                                    [(ngModel)]="item.StartDate" [bsConfig]="{
                          isAnimated: true,
                          minMode: 'year',
                          dateInputFormat: 'YYYY/MM/DD'
                        }" bsDatepicker>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="portfolio-label">End Year</div>
                                    <div class="row mt-top">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="signUp-form-control form-control"
                                                    autocomplete="off" #dp="bsDatepicker" [disabled]="true"
                                                    [(ngModel)]="item.ToDate" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY'
                      }" bsDatepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card portfolio" *ngIf="memberDetail.ExperienceDetails.length===0">
                            <h4>Experience Details</h4>
                            <div class="col-md-12">
                                <h4>No Records</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row" [@enterAnimation] *ngIf="_istab===5 && routerData.UserId!==0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row card portfolio">
                            <h4>Connections</h4><br />
                            <div class="row" *ngIf="Connections!==null">
                                <div class="col-md-3" *ngFor="let item of Connections">
                                    <div class="conn-req-card">
                                        <div class="user-image">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                                        </div>
                                        <div class="user-details">
                                            <h4 class="userName">{{item.ProfileName}}</h4>
                                        </div>
                                        <!-- <div class="accept-reject" *ngIf="item.isCurrentLoggedInUserConnected===1">
                                            <button mat-button
                                                class="btn btn-primary btn-round btn-margin btn-custom">Connected</button><br />
                                        </div>
                                        <div class="accept-reject" *ngIf="item.isCurrentLoggedInUserConnected===null">
                                            <button mat-button
                                                class="btn btn-primary btn-round btn-margin reset-btn-custom"
                                                (click)="SendRequest(item)">Connect</button>
                                        </div>
                                        <div class="accept-reject" *ngIf="item.isCurrentLoggedInUserConnected===0">

                                            <button mat-button
                                                class="btn btn-primary btn-round btn-margin reset-btn-custom">Request
                                                Sent</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="Connections===null">
                                <div class="col-md-12">
                                    <div class="separator separator-primary"></div>
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <img src="./././././././assets/img/radian/no-info.gif" />
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>