<div class="container">
  <div class="img default-cover">
  </div>
  <div class="card social-prof">
    <div class="card-body">
      <div class="wrapper">
        <a>
          <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
        </a>
        <h3 class="title">{{currentUser.ProfileName}}</h3>
        <p>{{currentUser.ProfileSkillName.name}}</p>
      </div>
    </div>
  </div>
  <form class="form" name="addPortfolioForm" [formGroup]="addPortfolioFormGroup">
    <div class="row card portfolio mb-search">
      <div class="col-md-12">

        <div class="container-fluid">
          <div class="row mt-top">
            <div class="col-md-12 custom-12">
              <div class="portfolio-label">Portfolio Name</div>
              <div class="row mt-top"
                *ngIf="addPortfolioForm.PortfolioName.errors && (addPortfolioForm.PortfolioName.dirty || addPortfolioForm.PortfolioName.touched)">
                <div class="col-md-12">
                  <app-required-validation-message [fieldName]="'Portfolio Name'"
                    *ngIf="addPortfolioForm.PortfolioName.errors.required"></app-required-validation-message>
                </div>
              </div>
              <div class="input-group">
                <input type="text" class="signUp-form-control form-control" placeholder="Portfolio Name"
                  formControlName="PortfolioName">
              </div>
            </div>
            <div class="col-md-12 custom-12">

              <div class="portfolio-label">About Portfolio</div>
              <div class="row mt-top"
                *ngIf="addPortfolioForm.PortfolioArtifacts.errors && (addPortfolioForm.PortfolioArtifacts.dirty || addPortfolioForm.PortfolioArtifacts.touched)">
                <div class="col-md-12">
                  <app-required-validation-message [fieldName]="'About Portfolio'"
                    *ngIf="addPortfolioForm.PortfolioArtifacts.errors.required">
                  </app-required-validation-message>
                </div>
              </div>
              <textarea class="form-control" [placeholder]="'About Portfolio'" formControlName="PortfolioArtifacts">
              </textarea>

            </div>
          </div>
          <div class="row mt-top"
            *ngIf="addPortfolioForm.PortfolioMedia.errors && (addPortfolioForm.PortfolioMedia.dirty || addPortfolioForm.PortfolioMedia.touched)">
            <div class="col-md-12">
              <app-required-validation-message [fieldName]="'Image'"
                *ngIf="addPortfolioForm.PortfolioMedia.errors.required"></app-required-validation-message>

            </div>
          </div>
          <div class="row mt-top">
            <div class="col-md-12">
              <div class="portfolio-label">Portfolio Media</div>

              <div class="row" *ngFor="let item of addMoreImageArray;let i=index;">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6" *ngIf="imageIndex===i">
                      <!-- <select id="select{{i}}" class="select-css" (change)="selectMediaType($event.target.value)">
                        <option value="image" selected="true">Image/Document</option>
                        <option value="video">Video</option>
                      </select> -->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="pretty p-switch p-fill">
                            <input type="radio" name="isUser" checked [value]="true" (change)="isImageType=true;" />
                            <div class="state p-success">
                              <label>Image/Document</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="pretty p-switch p-fill">
                            <input type="radio" name="isUser" [value]="false" (change)="isImageType=false;" />
                            <div class="state p-success">
                              <label>Video</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" *ngIf="isImageType && imageIndex===i">
                      <input id="file{{i}}" type="file" class="form-control form-control-lg upload-custom"
                        (change)="fileChangeEvent($event,i)" accept="application/pdf, image/jpeg, image/png" />
                    </div>
                    <div class="col-md-6" *ngIf="!isImageType && imageIndex===i">
                      <div class="input-group">
                        <input id="video{{i}}" type="text" class="signUp-form-control form-control"
                          placeholder="YouTube Video Link" formControlName="linkURL">
                      </div>
                    </div>
                    <div class="col-md-3" *ngIf="!isImageType && imageIndex===i">
                      <input type="button" class="btn btn-primary btn-round custom-btn" value="Add"
                        (click)="addMoreImage(i)" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="!(isUploaded)">
                <div class="col-md-12">
                  <div style="border: 1px dashed #38b6ff; padding: 50px 70px; border-radius: 10px; text-align: center;">
                    <img src="./././././././assets/img/radian/cloud_upload.png" style="width: 15%" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-top" *ngIf="isUploaded">
            <div class="col-md-2 custom-img-col-2" *ngFor='let url of urls;let i =index;'>
              <div class="custom-photo-container">
                <span class="close"><a (click)="removeMedia(i)">&times;</a></span>
                <img src="{{url.Name}}" alt="" class="img-raised" title="" *ngIf="url.IsImage==='image'">
                <a href="{{url.Name}}" *ngIf="url.IsImage==='pdf'" target="_blank">
                  <img src="assets/img/radian/document.png" alt="" class="img-raised">
                </a>
                <div *ngIf="url.IsImage==='video'" class="video">
                  <img src="{{url.Image}}" class="img-raised">
                  <a></a>
                </div>
              </div>
              <div class="row row-allow">
                <div class="col-md-12">
                  <div class="pretty p-switch p-fill">
                    <input type="checkbox" (change)="changeUserType($event,i)" [checked]="url.AllowRating" />
                    <div class="state p-success">
                      <label>Allow Rating</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card portfolio mb-search-buttons">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-round btn-margin submit-btn"
          (click)="onSubmit()">Create</button>&nbsp;
        <a [routerLink]="['/member/portfolio_view']" class="btn btn-primary btn-round reset-btn">Cancel</a>
      </div>
    </div>
  </form>
</div>