<div class="container">
    <div class="img default-cover">
    </div>
    <div class="card social-prof">
        <div class="card-body">
            <div class="wrapper">
                <a>
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
                </a>
                <h3 class="title">{{currentUser.ProfileName}}</h3>
                <p>[Visual]</p>
            </div>
        </div>
    </div>
    <form class="form" name="addSettingForm" [formGroup]="addSettingFormGroup">
        <div class="row card portfolio mb-search">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pretty p-switch">
                            <div class="pretty p-switch">
                                <input type="checkbox" name="IsViewerProfileShown"
                                    formControlName="IsViewerProfileShown" [value]="true"
                                    [checked]="currentUser.isViewerProfileShown" />
                                <div class="state p-success">
                                    <label>Display my profile to all Miraculum viewers</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pretty p-switch">
                            <input type="checkbox" name="IsRadianMemberProfileShown"
                                formControlName="IsRadianMemberProfileShown" [value]="true"
                                [checked]="currentUser.isRadianMemberProfileShown" />
                            <div class="state p-success  p-fill">
                                <label>Display my profile to only the Registered Members on Miraculum</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card portfolio mb-search">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pretty p-switch">
                            <input type="checkbox" name="IsMailingAddressShown" formControlName="IsMailingAddressShown"
                                [value]="true" [checked]="currentUser.isMailingAddressShown" />
                            <div class="state p-success  p-fill">
                                <label>Display Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pretty p-switch">
                            <input type="checkbox" name="IsAddressShown" formControlName="IsAddressShown" [value]="true"
                                [checked]="currentUser.isAddressShown" />
                            <div class="state p-success  p-fill">
                                <label>Display Contact Numbers</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pretty p-switch">
                            <input type="checkbox" name="IsEmailShown" formControlName="IsEmailShown" [value]="true"
                                [checked]="currentUser.isEmailShown" />
                            <div class="state p-success  p-fill">
                                <label>Display Email</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card portfolio mb-search">
            <div class="col-md-12 custom-event">
                <div class="container-fluid">
                    <button class="btn btn-primary btn-round btn-margin submit-btn" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>