<div class="container">
    <div class="img default-cover"></div>
    <div class="card social-prof">
        <div class="card-body">
            <div class="wrapper" *ngIf="selectedPortfolio!==null">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
                <h3 class="title">{{selectedPortfolio?.userPortfolioName}}</h3>
                <p>{{selectedPortfolio.userPortfolioModifiedDate|date:'MM/dd/yyyy hh:mm:ss'}}</p>

            </div>
        </div>
    </div>
    <div class="row" *ngIf="selectedPortfolio!==null">
        <div class="col-md-12">
            <div class="row card portfolio">
                <h4>About Portfolio</h4>
                <p>{{selectedPortfolio.userPortfolioDescription}}</p>
            </div>
        </div>
    </div>
</div>