<div class="container">
    <div class="img default-cover">
        <!--<div class="edit-btn">
            <a class="btn btn-primary btn-round btn-margin reset-btn">
                <i class="pi pi-camera"></i>Select Cover Image</a>
        </div>-->
    </div>
    <div class="card social-prof">
        <div class="card-body">
            <div class="wrapper" *ngIf="selectedPortfolio!==null">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
                <h3 class="title">{{selectedPortfolio?.PortfolioName}}</h3>
                <!--<p>{{selectedPortfolio.LastUpdatedDate|date:'MM/dd/yyyy hh:mm:ss'}}</p>-->
            </div>
            <div class="row ">
                <div class="wrapper">
                    <a [routerLink]="['/member/portfolio_add']" class="btn btn-danger btn-round">Create New
                        Portfolio</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="selectedPortfolio!==null">
        <div class="col-md-12">
            <div class="row card portfolio">
                <h4>About Portfolio</h4>
                <p>{{selectedPortfolio.PortfolioArtifacts}}</p>
            </div>
            <!--<div class="row card portfolio">
                <div class="col-md-4">
                    <div class="portfolio-label">Event Status</div>
                    <div class="pretty p-switch p-fill">
                        <input type="radio" disabled="true" [checked]="selectedPortfolio.EventStatus" />
                        <div class="state p-success">
                            <label>Active/Inactive</label>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="row" *ngIf="selectedPortfolio!==null">
        <div class="col-md-12" *ngIf="selectedPortfolio.PortfolioMedia.length>0">
            <div class="row card portfolio">
                <h4>Portfolio Media</h4>
                <div class="row">
                    <div class="col-md-2 custom-img-col-2"
                        *ngFor="let elem of selectedPortfolio.PortfolioMedia;let i=index;">
                        <div class="custom-photo-container">
                            <img src="{{elem.Name}}" alt="" class="img-raised" title=""
                                (click)='openImageDialog(selectedPortfolio.PortfolioMedia,i)'
                                *ngIf="elem.IsImage==='image'">
                            <a *ngIf="elem.IsImage==='pdf'" (click)="downloadPdf(elem.Name)">
                                <img src="assets/img/radian/document.png" alt="" class="img-raised">
                            </a>

                            <div *ngIf="elem.IsImage==='video'" class="video">
                                <img src="{{elem.Image}}" (click)='openImageDialog(selectedPortfolio.PortfolioMedia,i)'>
                                <a></a>
                            </div>
                        </div>
                        <div class="row row-rating">
                            <div class="col-md-6">
                                <ng-template #t let-fill="fill">
                                    <i class="bi-heart-fill">
                                        <i *ngIf="fill > 0" class="bi-heart-fill filled" [style.width.%]="fill"></i>
                                    </i>
                                </ng-template>
                                <ng-template #popContent>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ng-template #t let-fill="fill">
                                                <i class="bi-heart-fill">
                                                    <i *ngIf="fill > 0" class="bi-heart-fill filled"
                                                        [style.width.%]="fill"></i>
                                                </i>
                                            </ng-template>
                                            <ngb-rating rate="4" [starTemplate]="t" [readonly]="true" [max]="5">
                                            </ngb-rating>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ng-template #t let-fill="fill">
                                                <i class="bi-heart-fill">
                                                    <i *ngIf="fill > 0" class="bi-heart-fill filled"
                                                        [style.width.%]="fill"></i>
                                                </i>
                                            </ng-template>
                                            <ngb-rating rate="4" [starTemplate]="t" [readonly]="true" [max]="5">
                                            </ngb-rating>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ng-template #t let-fill="fill">
                                                <i class="bi-heart-fill">
                                                    <i *ngIf="fill > 0" class="bi-heart-fill filled"
                                                        [style.width.%]="fill"></i>
                                                </i>
                                            </ng-template>
                                            <ngb-rating rate="3" [starTemplate]="t" [readonly]="true" [max]="5">
                                            </ngb-rating>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ng-template #t let-fill="fill">
                                                <i class="bi-heart-fill">
                                                    <i *ngIf="fill > 0" class="bi-heart-fill filled"
                                                        [style.width.%]="fill"></i>
                                                </i>
                                            </ng-template>
                                            <ngb-rating rate="2" [starTemplate]="t" [readonly]="true" [max]="5">
                                            </ngb-rating>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ng-template #t let-fill="fill">
                                                <i class="bi-heart-fill">
                                                    <i *ngIf="fill > 0" class="bi-heart-fill filled"
                                                        [style.width.%]="fill"></i>
                                                </i>
                                            </ng-template>
                                            <ngb-rating rate="1" [starTemplate]="t" [readonly]="true" [max]="5">
                                            </ngb-rating>
                                        </div>
                                    </div>
                                </ng-template>
                                <ngb-rating rate="4" [starTemplate]="t" [readonly]="true" [max]="5"
                                    [ngbPopover]="popContent" popoverTitle="Loved By" container="body"></ngb-rating>

                            </div>
                            <div class="col-md-6">
                                <label class="rating-custom">4 out of 5</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [@enterAnimation] *ngIf="userPortfolio?.length>0">
        <div class="col-md-12">
            <div class="row card portfolio">
                <h4>Other Portfolios</h4>
                <p-carousel [value]="userPortfolio" styleClass="custom-carousel" [numVisible]="2" [numScroll]="2"
                    [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                    <!-- <ng-template pTemplate="header">
                  <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
              </ng-template> -->
                    <ng-template let-product pTemplate="item">
                        <div class="product-item">
                            <div class="product-item-content">
                                <div class="p-mb-3">
                                </div>
                                <div>
                                    <a (click)="selectedPortfolio=product">
                                        <h4 class="p-mb-1">{{product.PortfolioName}}</h4>
                                    </a>
                                    <span
                                        [class]="'product-badge status-'+product.PortfolioName.toLowerCase()">{{product.PortfolioArtifacts}}</span>
                                    <div class="car-buttons p-mt-5">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row card portfolio">
                <div class="col-md-12 flt-left">
                    <button class="btn btn-primary btn-round btn-margin submit-btn"
                        (click)="openEdit(selectedPortfolio.id)">Edit
                        Portfolio</button>&nbsp;
                    <button mat-button class="btn btn-primary btn-round btn-margin reset-btn"
                        (click)="DeletePortfolio(selectedPortfolio)">Delete Portfolio</button>
                </div>
            </div>
        </div>
    </div>
</div>