<div class="cont" [@enterAnimation]>
    <!-- <div class="card social-prof">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                    <div class="wrapper ft-right" *ngIf="selectedPortfolio!==null">
                        <img *ngIf="selectedPortfolioImage===''"
                            src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
                        <img *ngIf="selectedPortfolioImage!==''" src="{{selectedPortfolioImage}}" alt=""
                            class="user-profile">
                        <h3 class="title">{{selectedPortfolio?.PortfolioName}}</h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <a [routerLink]="['/member/portfolio_add']" class="btn btn-danger btn-round ft-right">Create New
                        Portfolio</a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row" *ngIf="selectedPortfolio!==null">
        <div class="col-md-12">
            <div class="row card portfolio">
                <h4>About Portfolio</h4>
                <p>{{selectedPortfolio.PortfolioArtifacts}}</p>
            </div>
            <!--<div class="row card portfolio">
                <div class="col-md-4">
                    <div class="portfolio-label">Event Status</div>
                    <div class="pretty p-switch p-fill">
                        <input type="radio" disabled="true" [checked]="selectedPortfolio.EventStatus" />
                        <div class="state p-success">
                            <label>Active/Inactive</label>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="userPortfolioMedia.length>0">
            <div class="row card portfolio">
                <h4>Portfolio Media</h4>
                <div class="row">
                    <div class="col-md-2 custom-img-col-2" *ngFor="let elem of userPortfolioMedia;let i=index;">
                        <div class="custom-photo-container">
                            <img src="{{elem?.attachments[0].Name}}" alt="" class="img-raised" title=""
                                *ngIf="elem?.attachments[0].IsImage==='image'" (click)="openImageDialog(i)">
                            <a *ngIf="elem?.attachments[0].IsImage==='pdf'">
                                <img src="assets/img/radian/document.png" alt="" class="img-raised">
                            </a>

                            <div *ngIf="elem?.attachments[0].IsImage==='video'" class="video">
                                <img src="{{elem?.attachments[0].Image}}">
                                <a></a>
                            </div>

                            <div class="row row-rating">
                                <div class="col-md-6">
                                    <ng-template #t let-fill="fill">
                                        <i class="bi-heart-fill">
                                            <i *ngIf="fill > 0" class="bi-heart-fill filled" [style.width.%]="fill"></i>
                                        </i>
                                    </ng-template>
                                    <ng-template #popContent>
                                        <ngx-charts-bar-horizontal [view]="[200,100]" [results]="single"
                                            [gradient]="true" [xAxis]="false" [yAxis]="true" [legend]="false"
                                            [showXAxisLabel]="false" [showYAxisLabel]="false" [xAxisLabel]="false"
                                            [yAxisLabel]="true" [showDataLabel]="true">
                                        </ngx-charts-bar-horizontal>
                                    </ng-template>
                                    <ngb-rating rate="{{elem.userPortfolioRatingAverage}}" [starTemplate]="t"
                                        [readonly]="false" [max]="5" [readonly]="true" [ngbPopover]="popContent"
                                        popoverTitle="Loved By" container="body" [openDelay]="300"
                                        [closeDelay]="500"></ngb-rating>
                                </div>
                                <div class="col-md-6">
                                    <label class="rating-custom">{{elem.userPortfolioRatingAverage}} out of 5</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" [@enterAnimation] *ngIf="userPortfolio?.length>0">
            <div class="col-md-12">
                <div class="row card portfolio">
                    <h4>Other Portfolios</h4>
                    <p-carousel [value]="userPortfolio" styleClass="custom-carousel" [numVisible]="2" [numScroll]="2"
                        [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                        <!-- <ng-template pTemplate="header">
                  <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
              </ng-template> -->
                        <ng-template let-product pTemplate="item">
                            <div class="product-item">
                                <div class="product-item-content">
                                    <div class="p-mb-3">
                                    </div>
                                    <div>
                                        <a (click)="selectPortfolio(product)">
                                            <h4 class="p-mb-1">{{product.PortfolioName}}</h4>
                                        </a>
                                        <span
                                            [class]="'product-badge status-'+product.PortfolioName.toLowerCase()">{{product.PortfolioArtifacts}}</span>
                                        <div class="car-buttons p-mt-5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row card portfolio">
                    <div class="col-md-12 flt-left">
                        <button class="btn btn-primary btn-round btn-margin submit-btn"
                            (click)="openEdit(selectedPortfolio.id)">Edit
                            Portfolio</button>&nbsp;
                        <button mat-button class="btn btn-primary btn-round btn-margin reset-btn"
                            (click)="DeletePortfolio(selectedPortfolio)">Delete Portfolio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>