<div class="cont" [@enterAnimation]>
  <form class="form" name="editRadianFormGroup" [formGroup]="editRadianFormGroup">
    <ng-template #contentProfile let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Profile Picture</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-top"
          *ngIf="editRadianFormGroup.controls['ProfilePicture'].errors && (editRadianFormGroup.controls['ProfilePicture'].dirty || editRadianFormGroup.controls['ProfilePicture'].touched)">
          <div class="col-md-12">
            <app-required-validation-message [fieldName]="'Image'"
              *ngIf="editRadianFormGroup.controls['ProfilePicture'].errors.required">
            </app-required-validation-message>
          </div>
        </div>
        <div class="row mt-top">
          <div class="col-md-10">
            <div class="row mt-top">
              <div class="col-md-12">
                <input type="file" (change)="fileChangeEvent($event,contentProfile)" /> 
              </div>
            </div>

          </div>
        </div>
        <div class="row mt-top model-profile" *ngIf="isUploaded">
          <div class="col-md-8">
            <h6>Crop Image</h6>
            <div class="row">
              <div class="col-md-12">
                <image-cropper class="border-custom" [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true" [aspectRatio]="4 / 4" [resizeToWidth]="256" format="png"
                  (imageCropped)="imageCropped($event)">
                </image-cropper>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h6>Preview</h6>
            <div class="row">
              <div class="col-md-12">
                <img [src]="croppedImage" class="border-custom" />
              </div>

            </div>
          </div>
        </div>
      </div>

    </ng-template>
    <ng-template #contentCover let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Cover Picture</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-top"
          *ngIf="editRadianFormGroup.controls['CoverPicture'].errors && (editRadianFormGroup.controls['CoverPicture'].dirty || editRadianFormGroup.controls['CoverPicture'].touched)">
          <div class="col-md-12">
            <app-required-validation-message [fieldName]="'Cover Image'"
              *ngIf="editRadianFormGroup.controls['CoverPicture'].errors.required"></app-required-validation-message>
          </div>
        </div>
        <div class="row mt-top">
          <div class="col-md-2 custom-label">
            <div class="portfolio-label">Cover Picture</div>
          </div>
          <div class="col-md-10">
            <div class="row mt-top">
              <div class="col-md-12">
                <input type="file" (change)="CoverFileChangeEvent($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="row">
      <div class="col-md-12">
        <div class="row card portfolio portfolio-custom">
          <div class="col-md-12">
            <h4>Profile Details</h4>
            <div class="portfolio-label">Profile Name</div>
            <div class="row"
              *ngIf="editRadianFormGroup.controls['ProfileName'].errors && (editRadianFormGroup.controls['ProfileName'].dirty || editRadianFormGroup.controls['ProfileName'].touched)">
              <div class="col-md-12">
                <app-required-validation-message [fieldName]="'Profile Name'"
                  *ngIf="editRadianFormGroup.controls['ProfileName'].errors.required"></app-required-validation-message>
              </div>
            </div>
            <div class="row mt-top">
              <div class="col-md-12">

                <div class="input-group">
                  <input type="text" class="signUp-form-control form-control" placeholder=""
                    formControlName="ProfileName">
                </div>
              </div>
            </div>
            <div class="row mt-top">
              <div class="col-md-12">
                <div class="portfolio-label">About Profile</div>
                <div class="row" *ngIf="editRadianFormGroup.controls['ProfileDescription'].errors && (editRadianFormGroup.controls['ProfileDescription'].dirty 
                  || editRadianFormGroup.controls['ProfileDescription'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'Description'"
                      *ngIf="editRadianFormGroup.controls['ProfileDescription'].errors.required">
                    </app-required-validation-message>
                  </div>
                </div>
                <textarea class="form-control" [placeholder]="" formControlName="ProfileDescription">
                  </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" formArrayName="Education" *ngIf="userProfile.isDefaultProfile">
      <div class="col-md-12">
        <div class="row card portfolio portfolio-custom">
          <div class="col-md-12">
            <h4>Education Details</h4>
            <div class="row" *ngFor="let item of getEducationControls();let i = index" [formGroupName]=" i">
              <div class="col-md-5">
                <div class="portfolio-label">Education Name</div>
                <div class="row"
                  *ngIf="item.controls['EducationName'].errors && (item.controls['EducationName'].dirty || item.controls['EducationName'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'Education Name'"
                      *ngIf="item.controls['EducationName'].errors.required"></app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <ngx-select-dropdown class="ngx-select" [instanceId]="'instance1'" formControlName="EducationName"
                        [config]="eduNameConfig" [options]="degreeName" (change)="degreeSelect($event.value,i)">
                      </ngx-select-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" *ngIf="item.controls['showOther'].value">
                <div class="portfolio-label">Other</div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" placeholder="other"
                        formControlName="Other">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="portfolio-label">Start Year</div>
                <div class="row"
                  *ngIf="item.controls['StartsOn'].errors && (item.controls['StartsOn'].dirty || item.controls['StartsOn'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'Start Year'"
                      *ngIf="item.controls['StartsOn'].errors.required"></app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">

                      <input type="text" class="signUp-form-control form-control" autocomplete="off"
                        #StartsOn="bsDatepicker" formControlName="StartsOn" [maxDate]="maxDate" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY'
                      }" bsDatepicker (onShown)="onOpenCalendar($event)">
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-3">
                <div class="portfolio-label">End Year</div>
                <div class="row"
                  *ngIf="item.controls['EndsOn'].errors && (item.controls['EndsOn'].dirty || item.controls['EndsOn'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'End Year'"
                      *ngIf="item.controls['EndsOn'].errors.required">
                    </app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">

                      <input type="text" class="signUp-form-control form-control" autocomplete="off"
                        #EndsOn="bsDatepicker" [minDate]="getDate(item.controls['StartsOn'].value)"
                        formControlName="EndsOn" [maxDate]="maxDate" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY'
                      }" bsDatepicker (onShown)="onOpenCalendar($event)">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1" *ngIf="getEducationControls().length>1">
                <button class="btn btn-primary btn-round del-btn" (click)="deleteEducation(i)">Delete</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-round btn-margin" (click)="addEducation(null)"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" formArrayName="CertificationLicense" *ngIf="userProfile.isDefaultProfile">
      <div class="col-md-12">
        <div class="row card portfolio profile-custom">
          <div class="col-md-12">
            <h4>Certification & Licenses</h4>
            <div class="row" *ngFor="let item of getCertificationLicensedControls();let i = index" [formGroupName]=" i">
              <div class="col-md-5">
                <div class="portfolio-label">Certification Name</div>
                <div class="row"
                  *ngIf="item.controls['CertificationName'].errors && (item.controls['CertificationName'].dirty || item.controls['CertificationName'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'Certificate Name'"
                      *ngIf="item.controls['CertificationName'].errors.required"></app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" placeholder="Certification Name"
                        formControlName="CertificationName">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="portfolio-label">Certification Date</div>
                <div class="row"
                  *ngIf="item.controls['CertifiedDate'].errors && (item.controls['CertifiedDate'].dirty || item.controls['CertifiedDate'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'Certification Date'"
                      *ngIf="item.controls['CertifiedDate'].errors.required"></app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">


                      <input type="text" class="signUp-form-control form-control" #CertifiedDate="bsDatepicker"
                        [minDate]="minDate" [maxDate]="maxDate" formControlName="CertifiedDate" [bsConfig]="{
                          isAnimated: true,
                          dateInputFormat: 'DD/MM/YYYY'
                        }" bsDatepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="portfolio-label">License Number</div>
                <div class="row"
                  *ngIf="item.controls['CertificationLicenseNumber'].errors && (item.controls['CertificationLicenseNumber'].dirty || item.controls['CertificationLicenseNumber'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'License Number'"
                      *ngIf="item.controls['CertificationLicenseNumber'].errors.required">
                    </app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" placeholder="License Number"
                        formControlName="CertificationLicenseNumber">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1" *ngIf="getCertificationLicensedControls().length>1">
                <button class="btn btn-primary btn-round del-btn"
                  (click)="deleteCertificationLicensed(i)">Delete</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-round btn-margin" (click)="addCertificationLicensed(null)"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" formArrayName="Experience" *ngIf="userProfile.isDefaultProfile">
      <div class="col-md-12">
        <div class="row card portfolio profile-custom">
          <div class="col-md-12">
            <h4>Experience Details</h4>
            <div class="row" *ngFor="let item of getExperienceControls();let i = index" [formGroupName]=" i">
              <div class="col-md-5">
                <div class="portfolio-label">Experience</div>
                <div class="row"
                  *ngIf="item.controls['ExperienceName'].errors && (item.controls['ExperienceName'].dirty || item.controls['ExperienceName'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'Experience As'"
                      *ngIf="item.controls['ExperienceName'].errors.required"></app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="signUp-form-control form-control" placeholder="Experience As"
                        formControlName="ExperienceName">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="portfolio-label">Start Year</div>
                <div class="row"
                  *ngIf="item.controls['StartDate'].errors && (item.controls['StartDate'].dirty || item.controls['StartDate'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'Start Year'"
                      *ngIf="item.controls['StartDate'].errors.required"></app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">

                      <input type="text" class="signUp-form-control form-control" autocomplete="off"
                        #StartDate="bsDatepicker" [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY'
                      }" bsDatepicker (onShown)="onOpenCalendar($event)" formControlName="StartDate">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="portfolio-label">End Year</div>
                <div class="row"
                  *ngIf="item.controls['ToDate'].errors && (item.controls['ToDate'].dirty || item.controls['ToDate'].touched)">
                  <div class="col-md-12">
                    <app-required-validation-message [fieldName]="'End Year'"
                      *ngIf="item.controls['ToDate'].errors.required"></app-required-validation-message>
                  </div>
                </div>
                <div class="row mt-top">
                  <div class="col-md-12">
                    <div class="input-group">

                      <input type="text" class="signUp-form-control form-control" autocomplete="off"
                        #ToDate="bsDatepicker" [minDate]="minDate" formControlName="ToDate" [maxDate]="maxDate"
                        [bsConfig]="{
                        isAnimated: true,
                        minMode: 'year',
                        dateInputFormat: 'YYYY'
                      }" bsDatepicker (onShown)="onOpenCalendar($event)">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1" *ngIf="getExperienceControls().length>1">
                <button class="btn btn-primary btn-round del-btn" (click)="deleteExperience(i)">Delete</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-round btn-margin" (click)="addExperience(null)"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row card portfolio profile-custom">
          <div class="col-md-12">
            <h4>Linked Portfolios</h4>
            <div class="row"
              *ngIf="editRadianFormGroup.controls['LinkedPortfolio'].errors && (editRadianFormGroup.controls['LinkedPortfolio'].dirty || editRadianFormGroup.controls['LinkedPortfolio'].touched)">
              <div class="col-md-12">
                <app-required-validation-message [fieldName]="'Linked Portfolios'"
                  *ngIf="editRadianFormGroup.controls['LinkedPortfolio'].errors.required">
                </app-required-validation-message>
              </div>
            </div>
            <div class="row mt-top">
              <div class="col-md-12">
                <div class="pretty p-switch p-fill" *ngFor="let item of tempArrPortfolio;let i=index;">
                  <input type="checkbox" name="switch{{i}}" (change)="onSelectPortfolio($event,item)"
                    [checked]="item.isChecked" /><br />
                  <div class="state p-success">
                    <label>{{item.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row card portfolio portfolio-custom">
          <div class="col-md-12">
            <h4>Skills</h4>
            <div class="row mt-top" *ngIf="editRadianFormGroup.controls['ProfileExpertise'].errors && (editRadianFormGroup.controls['ProfileExpertise'].dirty 
              || editRadianFormGroup.controls['ProfileExpertise'].touched)">
              <div class="col-md-12">
                <app-required-validation-message [fieldName]="'Experties'"
                  *ngIf="editRadianFormGroup.controls['ProfileExpertise'].errors.required">
                </app-required-validation-message>
              </div>
            </div>
            <div class="row mt-top">
              <div class="col-md-3">
                <ngx-select-dropdown (change)="getSkillSubCategory($event.value)" class="ngx-select"
                  [instanceId]="'instance1'" formControlName="ProfileSkill" [config]="skillConfig" [options]="skills">
                </ngx-select-dropdown>
              </div>
              <div class="col-md-9 custom-checkbox">
                <div class="pretty p-switch p-fill" *ngFor="let item of tempSubCategory;let i=index;">
                  <input type="checkbox" name="switch{{i}}" (change)="onSelectExperties($event,item)"
                    [checked]="item.isChecked" /><br />
                  <div class="state p-success">
                    <label>{{item.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row card portfolio profile-custom">
          <div class="col-md-12">
            <button class="btn btn-primary btn-round btn-margin submit-btn" (click)="onSubmit()">Update</button>&nbsp;
            <a [routerLink]="['/member/hunar_view']" class="btn btn-primary btn-round reset-btn">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>